html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background-color: #fff;
  padding-top: 70px;
}

#app, #main{
  width: 100%;
  height: 100%;
  margin: 0;
}

#navTitle {
  color: #6b6b6b;
}
#navTitle:hover {
  color: #323232;
}

.badge {
  position:absolute;
  margin-top: 0;
  left: 20px;  
}

#cartIcon{
  position: absolute;
  left: -5px;
  font-size: 32px;
}
#cartLink {
  position: absolute;
  margin-left: -45px;
  margin-top: -30px;
}

#frontDisplay {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  flex: 1; 
  color: #333333
}

#content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex: 1;
}

.partSection {
  padding: 10px; 
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1vh;
}

.calc {
  position: sticky;
}

.calc h5 {
  text-align: center;
}

.calc p {
  margin: 2px 1px 0 0;
}

#selections {
  max-height: 65vh;
  overflow-y: auto;
}

#wholeCard {
  border-color: #eee;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-body {
  background-color: #eee;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  border-radius: 3px 3px 0px 0px; 
}

#addBtn {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.container{ 
  margin-left: 0!important;
  margin-right: 0!important;
  padding: 3px 5px!important;
}

.selectionsHeader {
  height: 8vh; 
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.selectionsHeader h1 {
  margin: 0;
}

/* .backArrow {
  position: absolute;
  left: 0;
  font-size: 35px
} */

/* Styles for larger viewports */
@media screen and (min-width: 768px) {
  .right {
    margin-right: 2vh!important;
    margin-top: 2vh!important; 
  }
  .right .modal-content{
    height: 96vh;
    overflow-y: auto; 
  } 
}

.right .modal-header {
  justify-content: center;
}

.right .modal-header .modal-title {
  position: relative;
}

.right .modal-header .btn-close {
  position: absolute;
  right: 0;
  margin: 1vh;
}

.selectionInput {
  width: 36%;
}
