html, body {
  height: 100%;
  width: 100%;
  margin: 0;

}

#app, #main{
  width: 100%;
  height: 100%;
  display: flex; /* Add this to make #main a flex container */
  flex-direction: column; /* Stack children vertically */

}

#mainHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; 
  border-bottom: solid 1px lightgray;
  width: 100%
}


.productCard {
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  box-shadow: 0px 4px 6px 0px rgba(194,194,194,1);
  
}

#cardText {
  padding: 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

#frontDisplay {
  display: flex;
  align-items: stretch; /* Stretch children vertically */
  justify-content: space-between;
  width: 100%;
  flex: 1; /* Take up available space */
  

  
}
#ingridentSection {
  padding: 10px;
  flex: 1;
  
}



#sidebar {
  border-left: solid 1px lightgray;
  width: 30vh;
  padding: 10px;
}